<div class="article">
  <% if article.date %>
    <span class="date right"><%= article.date.formatted %></span>
  <% end %>
  <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
  <div class="body">
    <% if summary_only %>
      <%= article.summary.formatted %>
      <% if article.summary.length != article.body.length %>
        <span class="right date"><a href="<%= article.url %>">read on...</a></span>
      <% end %>
    <% else %>
      <%= article.body.formatted %>
      
      <% if article.instance_of?(Serious::Article) %>
        <span class="author right">Written by <%= article.author %></span>   
        <%= render_partial :disqus if Serious.disqus %> 
      <% end %>
    <% end %>
  </div>

</div>
