<div class="article">
  <span class="date right"><%= article.date.formatted %></span>
  <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
  <div class="body">
    <% if summary_only %>
      <%= article.summary.formatted %>
      <span class="right date"><a href="<%= article.url %>">read on...</a></span>
    <% else %>
      <%= article.body.formatted %>
      <span class="author right">Written by <%= article.author %></span>    
    <% end %>
  </div>

</div>
