<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/css/serious.css">
  <link rel="stylesheet" type="text/css" href="/css/coderay.css">
  <link rel="alternate" type="application/atom+xml" title="<%= Serious.title %>" href="<%= Serious.feed_url %>" />
  <title><%= @article ? @article.title + " - " : "" %><%= Serious.title %></title>
  </head>
  
  <body>
    <div id="header">
      <h1><a href="/"><%= Serious.title %></a></h1>
    </div>
    
    <div id="container">
      <%= yield %>
    </div>
    
    <div id="footer">
      <p>
        This blog is <a href="http://github.com/colszowka/serious">serious</a>.
      </p>
    </div>
    
    <%= render_partial :google_analytics if Serious.google_analytics %> 
  </body>
</html>

