<ul id="articles">
  <% @recent.each do |article| %>
    <li>
      <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
      <%= article.date %>
      <p>
        <%= format article.summary %>
      </p>
    </li>
  <% end %>
</ul>
<%= render_archived @archived %>
