<ul id="articles">
  <% @recent.each do |article| %>
    <li>
      <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
      <%= article.date %>
      <p>
        <%= format article.summary %>
      </p>
    </li>
  <% end %>
</ul>
<ul id="archives">
  <% @archived.each do |article| %>
    <li>
      <a href="<%= article.url %>"><%= article.title %></a>
      <span class="date"><%= article.date %></span>
    </li>
  <% end %>
</ul>

